a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
  font-style: normal;
}

.App {
  text-align: center;
}

.Header {
  background-color: red;
  border: solid black 0.1px;
  width: 100%;
}

.Header a {
  color: black;
}

.Header h1 {
  font-size: 1.5em;
}

.Header button {
  position: absolute;
  top: 1vh;
  right: 1vw;
}

.Nav {
  background-color: black;
  width: 100%;
  position: sticky;
  top: 0;
}

.Nav ul {
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}

.Nav li {
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  text-transform: capitalize;
}

.Nav a {
  color: white;
}

.Nav a:hover {
  color: cornflowerblue;
}

.Nav a:focus {
  color: red;
}

.Main {
  width: auto;
  background-color: gray;
  height: 30vh;
  margin: 0;
}

.Main img {
  height: 75%;
  width: 100%;
}

.Main h3 {
  margin: 0;
}

.sort {
  background-color: cornflowerblue;
  position: sticky;
  top: 7vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.sort button {
  font-size: 1.3em;
  padding: 0.5em;
}

.Articles button {
  background-color: cornflowerblue;
  border: none;
  margin: 0;
  transition-duration: 0.4s;
}

.Articles button:hover {
  color: white;
}

.Articles button:focus {
  color: red;
}

.Articles ul {
  display: flex;
  flex-direction: column;
  flex-wrap: no wrap;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 1vh;
  padding: 0;
}

[class*="-art"] {
  border: solid black 1px;
  height: auto;
  width: auto;
  margin: 10px;
  background-color: whitesmoke;
  box-shadow: -3px 3px 5px gray;
  transition: border;
}
.art-votes-comm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1em;
}
.Articles a {
  color: black;
}

.Articles li:hover {
  border: solid black 3px;
}

#topic {
  text-align: justify;
  margin: 5px;
  padding: 5px;
}

.Articles h3,
#author {
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.Articles h3 {
  font-size: 20px;
  margin: 0;
}

.Articles img {
  height: 75%;
  width: 100%;
}

.Comments ul {
  margin: 1.5em 0.5em;
  padding: 0;
}

.Comments li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2vh 2vw;
  background-color: rgb(216, 223, 230);
  border-radius: 1em;
  text-align: justify;
  border: solid 1px gray;
}

.Comments p {
  margin: 0.1rem 1rem;
  padding: 0.5rem;
  line-height: 1.4rem;
}

.comment-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-left: 0.5rem;
}

.comment-info p {
  margin: 0;
  padding: 0.2rem;
  font-style: italic;
}

.main-img {
  background-color: rgb(216, 223, 230);
}

.main-img img {
  width: 100%;
}

.main-img p {
  margin: 0;
  padding: 0.5em;
  font-size: 14px;
  text-align: justify;
}

.article-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.article-body h2 {
  margin: 0;
  padding: 2vh 1vw 0 1vw;
}

.article-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.votes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vote-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.4rem;
}

.vote-buttons button {
  color: cornflowerblue;
  margin: 0 1vw;
  padding: 0;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.4rem;
}

.vote-buttons button:disabled {
  color: gray;
}

.vote-buttons button:hover {
  color: red;
}

.comments-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.comments-button button {
  padding: 0;
  margin: 0 1vw;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
}

.comments-button button:hover {
  color: red;
}

.submit-comment {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  margin: 1em 0;
  padding: 1.5em;
}
.submit-comment p {
  margin-top: 0;
}
.submit-comment input {
  width: 90%;
  height: auto;
  margin-right: 2px;
  font-size: 18px;
  text-align: center;
}

.submit-comment button {
  font-size: 18px;
  margin: 1em 0 0.4em 0;
}

#topic {
  text-transform: capitalize;
  text-decoration: underline;
}

#author {
  margin: 0;
  padding: 0;
}

#votes,
#comments {
  display: inline-block;
  padding: 10px;
}

#date {
  color: lightslategray;
  font-style: italic;
}

#topic {
  text-decoration: none;
  margin: 0;
  color: cornflowerblue;
}

#text {
  text-align: justify;
  margin: 3vh 1vw;
  padding: 0 1rem;
  line-height: 1.4rem;
}

@media only screen and (min-width: 760px) {
  a {
    text-decoration: none;
  }

  .bold {
    font-weight: bold;
    font-style: normal;
  }

  .App {
    text-align: center;
  }

  .Header {
    width: 100%;
  }

  .Header a {
    color: red;
  }

  .Header h1 {
    font-size: 20px;
  }

  .Header button {
    position: absolute;
    top: 1vh;
    right: 1vw;
  }

  .Nav {
    background-color: black;
    width: 100%;
    position: sticky;
    top: 0;
  }

  .Nav ul {
    margin: 0;
    padding: 0;
  }

  .Nav li {
    display: inline-block;
    margin: 10px;
    text-transform: capitalize;
  }

  .Nav a {
    color: white;
  }

  .Nav a:hover {
    color: cornflowerblue;
  }

  .Nav a:focus {
    color: red;
  }

  .Main {
    width: auto;
    background-color: gray;
    height: 30vh;
    margin: 0;
  }

  .Main img {
    height: 75%;
    width: 100%;
  }

  .Main h3 {
    margin: 0;
  }

  .sort {
    background-color: cornflowerblue;
    position: sticky;
    top: 4.5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .sort button {
    font-size: 1em;
  }

  .Articles button {
    background-color: cornflowerblue;
    border: none;
    margin: 0;
    transition-duration: 0.4s;
  }

  .Articles button:hover {
    color: white;
  }

  .Articles button:focus {
    color: red;
  }

  .Articles ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-top: 1vh;
    padding: 0;
  }
  .art-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .art-votes-comm {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  #topic {
    align-self: flex-start;
  }

  .big-art {
    height: auto;
    width: 95vw;
    margin: 10px;
  }

  .big-art h3 {
    font-size: 2em;
  }

  .big-art #author,
  #votes,
  #comments {
    font-size: 1.2em;
    padding: 0.5em;
  }

  .small-art {
    height: 50vh;
    width: 45vw;
    margin: 1em;
  }

  .small-art h3 {
    font-size: 1em;
  }

  .small-art .art-info #author {
    margin-top: 0.5em;
  }

  .small-art .art-votes-comm {
    margin: 0.5em 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
  }

  .small-art #author,
  #votes,
  #comments {
    font-size: 1em;
    margin: 0;
    padding: 0;
  }

  .Articles a {
    color: black;
  }

  .Articles li:hover {
    border: solid black 3px;
  }

  .Articles h3,
  #topic,
  #author {
    text-align: center;
    margin: 5px;
    padding: 5px;
  }

  .Articles h3 {
    margin: 0;
  }

  .Articles img {
    height: 60%;
    width: 100%;
  }

  .Comments ul {
    margin: 1.5em 0.5em;
    padding: 0;
  }

  .Comments li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 2vh 2vw;
    background-color: rgb(216, 223, 230);
    border-radius: 1em;
    text-align: justify;
    border: solid 1px gray;
  }

  .Comments p {
    margin: 0.1rem 1rem;
    padding: 0.5rem;
    line-height: 1.4rem;
  }

  .comment-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-left: 0.5rem;
  }

  .comment-info p {
    margin: 0;
    padding: 0.2rem;
    font-style: italic;
  }

  .main-img {
    background-color: rgb(216, 223, 230);
  }

  .main-img img {
    width: 100%;
  }

  .main-img p {
    margin: 0;
    padding: 0.5em;
    font-size: 14px;
    text-align: justify;
  }

  .article-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .article-body h2 {
    margin: 0;
    padding: 2vh 1vw 0 1vw;
  }

  .article-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .votes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .vote-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.4rem;
  }

  .vote-buttons button {
    color: cornflowerblue;
    margin: 0 1vw;
    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.4rem;
  }

  .vote-buttons button:disabled {
    color: gray;
  }

  .vote-buttons button:hover {
    color: red;
  }

  .comments-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .comments-button button {
    padding: 0;
    margin: 0 1vw;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
  }

  .comments-button button:hover {
    color: red;
  }

  .submit-comment {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin: 1em 0;
    padding: 1.5em;
  }
  .submit-comment p {
    margin-top: 0;
  }
  .submit-comment input {
    width: 90%;
    height: auto;
    margin-right: 2px;
    font-size: 18px;
    text-align: center;
  }

  .submit-comment button {
    font-size: 18px;
    margin: 1em 0 0.4em 0;
  }

  #topic {
    text-transform: capitalize;
    text-decoration: underline;
  }

  #author {
    margin: 0;
    padding: 0;
  }

  #votes,
  #comments {
    display: inline-block;
    padding: 10px;
  }

  #date {
    color: lightslategray;
    font-style: italic;
  }

  #topic {
    text-decoration: none;
    margin: 0;
    color: cornflowerblue;
  }

  #text {
    text-align: justify;
    margin: 3vh 1vw;
    padding: 0 1rem;
    line-height: 1.4rem;
  }
}
/* make text bigger for laptop */
@media only screen and (min-width: 1000px) {
  .Header h1 {
    font-size: 2em;
  }

  .Header button {
    font-size: 1.5em;
    padding: 0.3em;
  }
  .Nav {
    font-size: 1.7em;
  }

  .Nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  .sort {
    top: 4.5;
    font-size: 1.7em;
    justify-content: justify;
  }

  .Articles ul {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .big-art {
    margin: 0.5vw;
    padding: 0;
    width: 98vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
  }

  #topic {
    color: red;
  }

  .big-art img {
    height: 100%;
    width: 60%;
  }

  .big-art .art-text {
    width: 40vw;
    display: flex;
    flex-direction: column;
  }

  .big-art .art-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 45vh;
    width: 40vw;
    padding: 1vh;
  }

  .big-art .art-info h3 {
    margin: 1vh 0;
    padding: 0 2vw;
    font-size: 2em;
    text-align: left;
  }

  .big-art #author {
    margin: 1.5vh 0;
    padding: 0 2vw;
  }

  .big-art .art-votes-comm {
    justify-content: space-between;
    align-items: center;
    margin: 0 2.5vw;
    padding: 0;
    height: 15%;
    width: 35vw;
    font-size: 1.2em;
  }

  .small-art {
    margin: 0.5vw;
    padding: 0;
    width: 98vw;
    height: 23vh;
    display: flex;
    flex-direction: row;
  }

  .small-art img {
    width: 30vw;
    height: auto;
  }

  .small-art .art-text {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .small-art .art-info {
    margin: 0;
  }

  .small-art h3 {
    font-size: 1.5em;
    text-align: left;
    margin-bottom: 1vh;
    padding: 0 1em;
  }

  .small-art #topic {
    margin-bottom: 1vh;
  }

  .small-art #author {
    text-align: left;
    padding: 0 1.5em;
  }

  .small-art .art-votes-comm {
    font-size: 1.2em;
    align-self: flex-end;
    width: fit-content;
    height: 10%;
  }

  .main-img {
    width: 65vw;
    height: 45vh;
    margin: 2vh auto;
  }

  .main-img img {
    height: 90%;
  }

  .article-body {
    padding: 1em;
  }

  #text {
    line-height: 1.5em;
    padding: 1em 1.5em;
  }

  .submit-comment input {
    width: 50%;
  }
}
