.App {
  text-align: center;
}

.Header {
  background-color: blanchedalmond;
  padding: 1vh;
  height: 5vh;
}

.Header h1 {
  font-size: 15px;
}

.Nav {
  background-color: cornflowerblue;
  height: 5vh;
}

.Nav ul {
  margin: 0;
  padding: 0;
}

.Nav li {
  display: inline;
  margin: 10px;
}

.Main {
  width: auto;
  background-color: gray;
  height: 30vh;
  margin: 0;
}

.Main img {
  height: 75%;
  width: 100%;
}

.Main h3 {
  margin: 0;
}

.Articles {
  margin: 0;
  background-color: cornsilk;
}

.Articles ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
}

.Articles li {
  border: solid black 2px;
  height: fit-content;
  width: 45%;
  margin: 5px;
}

.Articles h4 {
  font-size: 20px;
  margin: 0;
}

.Articles img {
  height: 75%;
  width: 100%;
}

.Comments ul {
  padding: 0;
}

.Comments li {
  list-style-type: none;
  border: dotted black 2px;
}
